# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.ipynb_checkpoints

# 환경
.env
.venv/
myenv/
env/
venv/
*.env

# VSCode
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Streamlit 캐시
.streamlit/
.cache/
**/__pycache__/

# Jupyter
.ipynb_checkpoints

# Data
*.csv
*.xlsx

# Logs
*.log
